<section class="servicos-card-banner">
  <div class="page-width">
    <div class="servicos-card-banner__inner">
      <div class="servicos-card-banner__media">
        <img src="{{ '97718ac0d18b967f20d355280ddea6f2648bc4fe.png' | asset_url }}" alt="Cartão de Cliente GlobalBrico" loading="lazy">
      </div>
      <div>
        <h2 class="servicos-card-banner__title">Cartão de Cliente<br />GlobalBrico</h2>
        <div class="servicos-card-banner__body">
          <p>Com o <strong>Cartão de Cliente GlobalBrico</strong>, ganha<br />acesso a descontos exclusivos, campanhas<br/>especiais, ofertas personalizadas e benefícios em<br />cada compra.</p>
          <p>É gratuito, fácil de aderir e válido tanto online como<br />em loja!</p>
        </div>
      </div>
    </div>
  </div>
</section>
